body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background: url(../images/fondo.gif);
}

.container {
	margin: 0 auto;
	width: 800px;
	border: 1px solid #B5D0FD;
	background-color: #F5FBFE;
}

.menu {
	padding: 0.5em 1em;
	background-color: black;
}

.menu ul {
	padding: 0;
	margin: 0;
}

.menu li {
	display: inline;
	margin-right: 2em;
}

.menu a {
	font-size: 15px;
	color: silver;
	text-decoration: none;
}

.menu a:HOVER {
	color: white;
}

.header {
	margin: 1em 0;
	min-height: 100px;
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
}

.header h1 {
	display: none;
}

.pictures {
	text-align: center;
}

.body {
	padding: 1em;
}

.bodyContainer {
	padding: 0 1em;
	border: 1px solid #CDCDCD;
	background-image: url(../images/sub.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #EFEFEF;
}

.footer {
	padding: 1em 0;
	text-align: center;
	background-image: url(../images/footer.jpg);
	background-color: #F2FBFE;
}

.error {
	color: red;
}

/********************/
/* Contact Us */
/********************/
.contactus input.error,
.contactus textarea.error {
	border: 1px solid red;
} 
